<html>
    <head>
        <title>Blog App</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <style type="text/css">
            .container.main{
                 margin-top: 4.0em;
              }
              
              #delete{
                  display:inline;
              }
        </style>
    </head>
    <body>
        
  <div class="ui fixed inverted menu">
      <div class="ui container">
        <a class="header item"><i class="pencil alternate icon"></i>Blog site</a>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
      </div>
 </div>
 <br>
 <br>